.blogWrapper {
    width: 100vw;
    text-align: center;
    overflow-y: scroll;
}

.blogHeaderWrapper {
    margin-top: 2%;
}

.blogTitle {
    font-size: 500%;
}

.blogSubtitle {
    font-style: italic;
    margin-bottom: 2%;
}

.blogCreatePost {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 5%;
}