.charlieWrapper {
    width: 100vw;
    text-align: center;
    overflow-y: scroll;
}

.headerWrapper {
    margin-top: 2%;
}

.charlieHeader {
    font-size: 500%;
}

.charlieSubtitle {
    font-style: italic;
    margin-bottom: 2%;
}

.postWrapper {
    width: 75%;
}