.charlieWrapper {
    width: 100vw;
    text-align: center;
    overflow-y: scroll;
}

.headerWrapper {
    margin-top: 30px;
}

.charlieHeader {
    font-size: 500%;
}

.postWrapper {
    width: 75%;
}