.charlieWrapper {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.headerWrapper {
    margin-top: 30px;
}

.charlieHeader {
    font-size: 500%;
}

.formWrapper {
    text-align: center;
    width: 75vw;
    text-align: left;
    margin: auto;
}

.titleForm {
    margin-bottom: 10px;
}

.bodyForm {
    margin-bottom: 10px;
}

.submitButton {
    margin-right: 3px;
}
