.Wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

@font-face {
    font-family: myFont;
    src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Titillium+Web&display=swap');
}

*{
    font-family: myFont;
}
