.home {
    display: flex;
    width: 100vw;
    overflow-y: scroll;
    background-color: rgb(240, 240, 240);
}

.col1 {
    flex: 75vw;
    overflow-x: hidden;
}

.col2 {
    flex: 25vw;
    overflow-x: hidden;
}
 
.feedHeader {
    margin-top: 5px;
    width: 98%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.feedTitle {
    font-size: xx-large;
    width: 22%;
}

.postButtonWrapper {
    width: 78%;
    margin-top: 10px;
    text-align: right;
}


