.home {
    display: flex;
    width: 100vw;
    overflow-y: scroll;
}

.col1 {
    flex: 75vw;
    overflow-x: hidden;
}

.col2 {
    flex: 25vw;
    overflow-x: hidden;
}
 
.feedHeader {
    margin-top: 1%;
    width: 98%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    border-bottom: 0.25rem solid #ffd257;    
}

.feedTitle {
    margin-top: auto;
    margin-bottom: auto;
    font-size: xx-large;
    width: 22%;
}

.postButtonWrapper {
    width: 78%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}


