.landing {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}

.landingMargin {
    margin-top: 5%;
}

.title {
    font-size: 400%;
}

.loading {
    font-size: 200%;
}

.signupButton {
    margin-top: 15%;
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: rgb(150, 150, 150);
    border: none;
    border-radius: .25rem;
}
.signupButton:hover {
    background-color: rgb(126, 126, 126);
}

.loginButton {
    margin-top: 0.5%;
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: #1e96ff;
    border: none;
    border-radius: .25rem;
}
.loginButton:hover {
    background-color: #0073d8;
}

.warning {
    color: red;
    margin-top: 10px;
    margin-left: 3px;
}

.userCharCounter {
    margin-left: 1%;
    margin-top: 2%;
    color: rgb(117, 117, 117);
    font-size: small;
}