.landingWrapper {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.landingTicker {
    height: 5%;
    font-size: 150%;
}

.tickerHeading {
    text-align: center;
    width: fit-content;
    font-style: italic;
    font-size: 120%;
    font-weight: 700;
    background-color: rgb(196, 0, 0);
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.landingPage {
    width: 100%;
    height: 95%;
    text-align: center;
}

.title {
    font-size: 400%;
}

.loading {
    font-size: 200%;
    text-align: center;
}

.signupButton {
    margin-top: 15%;
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: rgb(150, 150, 150);
    border: none;
    border-radius: .25rem;
}

.signupButton:hover {
    background-color: rgb(126, 126, 126);
}

.loginButton {
    margin-top: 0.5%;
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: #1e96ff;
    border: none;
    border-radius: .25rem;
}

.loginButton:hover {
    background-color: #0073d8;
}