.ldWrapper {
    margin-top: 1%;
    display: flex;
    width: 8%;
}

.updown {
    text-align: center;
    flex: 1;
    margin-bottom: 1%;
}

.up {
    width: 75%;
    margin-bottom: 3%;
    filter: brightness(40%);
}

.up:hover {
    cursor: pointer;
}

.upHigh {
    width: 75%;
    margin-bottom: 3%;
}

.upHigh:hover {
    cursor: pointer;
}

.down {
    width: 75%;
    margin-top: 3%;
    filter: brightness(40%);
}

.down:hover {
    cursor: pointer;
}

.downHigh {
    width: 75%;
    margin-top: 3%;
}

.downHigh:hover {
    cursor: pointer;
}

.score {
    flex: 1;
    text-align: left;
    font-size: 300%;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}