.ldWrapper {
    margin-top: auto;
    margin-bottom: auto;
    width: 5%;
    margin-left: 1%;
}

.up {
    display: block;
    width: 50%;
    filter: brightness(40%);
    margin-left: auto;
    margin-right: auto;
}

.up:hover {
    cursor: pointer;
}

.upHigh {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.upHigh:hover {
    cursor: pointer;
}

.down {
    display: block;
    width: 50%;
    filter: brightness(40%);
    margin-left: auto;
    margin-right: auto;
}

.down:hover {
    cursor: pointer;
}

.downHigh {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.downHigh:hover {
    cursor: pointer;
}

.score {
    text-align: center;
    font-size: 200%;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}