.profileWrapper {
    width: 98%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: .25rem;
    background-color: rgb(39, 39, 39);
    border: .1rem solid rgb(122, 122, 122);
    padding-bottom: 1%;
}

.username {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgb(122, 122, 122);
    font-size: 150%;
}

.userBio {
    margin-top: 1%;
    margin-left: 2%;
}

.userEdit {
    width: fit-content;
    margin-top: 3%;
    margin-left: 2%;
    color: rgb(150, 150, 150);
}
.userEdit:hover {
    text-decoration: underline;
    cursor: pointer;
}

.profileButtons {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 1%;
}

.saveProfileButton {
    margin-left: 2.5%;
    color: white;
    height: 2.5rem;
    width: 30%;
    background-color: #1e96ff;
    border: none;
    border-radius: .25rem;
}

.cancelProfileButton {
    margin-left: 2.5%;
    color: white;
    height: 2.5rem;
    width: 30%;
    background-color: rgb(150, 150, 150);
    border: none;
    border-radius: .25rem;
}