.postWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

.postListWrapper {
    text-align: left;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.postPreview {
    margin-bottom: 10px;
    border-radius: 0%;
}

.postTitle {
    font-size: 150%;
}

.postAuthor {
    font-size: 90%;
    color: rgb(114, 114, 128);
}

.prevnext {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(46, 96, 231);
}
.prev:hover {
    text-decoration: underline;
    cursor: pointer;
}
.next:hover {
    text-decoration: underline;
    cursor: pointer;
}

.alertWarning {
    text-align: left;
}

.alertSuccess {
    text-align: left;
}