.formWrapper {
    text-align: center;
    width: 75vw;
    text-align: left;
    margin: auto;
}

.titleForm {
    margin-bottom: 10px;
}

.bodyForm {
    margin-bottom: 10px;
}

.submitButton {
    margin-right: 3px;
}