.formWrapper {
    width: 100%;
    text-align: left;
}

.titleForm {
    margin-bottom: 10px;
}

.bodyForm {
    margin-bottom: 10px;
}

.submitButton {
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: rgb(43, 160, 255);
    border: none;
    border-radius: .25rem;
    margin-right: 0.5%;
}
.submitButton:hover {
    background-color: rgb(4, 121, 218);
}

.cancelButton {
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: rgb(150, 150, 150);
    border: none;
    border-radius: .25rem;
}
.cancelButton:hover {
    background-color: rgb(155, 155, 155);
}

.magicWrapper {
    display: flex;
    margin-top: 1%;
}

.magicButton {
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: gold;
    border: none;
    border-radius: .25rem;
    margin-left: 0.5%;
}

.magicSelect {
    width: 10.5%;
    display: flex;
}

.charCounter {
    color: rgb(117, 117, 117);
    font-size: small;
}