.postWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

.postListWrapper {
    text-align: left;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.previewWrapper {
    width: 100%;
    margin-bottom: 10px;
    border-radius: .25rem;
    background-color: white;
    background-color: rgb(39, 39, 39);
    border: .1rem solid rgb(122, 122, 122);
}
.previewWrapper:hover {
    background: linear-gradient(to left, #a357ff 0.8%, rgb(53, 53, 53) 0.8%);
    cursor: pointer;
}

.previewContent {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    overflow-x: hidden;
    padding-top: 0.5%;
    padding-bottom: 1%;
}

.previewTitle {
    font-size: 150%;
}

.previewAuthor {
    font-size: 90%;
    color: rgb(150, 150, 150);
    margin-top: 0%;
}

.previewBody {
    margin-top: 0.5%;
}

.prevnext {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.prev:hover {
    text-decoration: underline;
    cursor: pointer;
}
.next:hover {
    text-decoration: underline;
    cursor: pointer;
}

.alertWarning {
    text-align: left;
}

.alertSuccess {
    text-align: left;
}

.postButton {
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: #1e96ff;
    border: none;
    border-radius: .25rem;
}
.postButton:hover{
    background-color: #0073d8;
}

/* for the Post.js page */
.postPageWrapper {
    width: 90%;
    background-color: rgb(39, 39, 39);
    border: .2rem solid rgb(122, 122, 122);
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    border-radius: .25rem;
    padding-bottom: 1%;
    overflow-x: hidden;
}

.postContent {
    margin-top: 1%;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.postPageTitle {
    font-size: 200%;
}

.postPageTS {
    margin-top: 0.5%;
    font-size: 90%;
    color: rgb(150, 150, 150);
}

.postPageAuthor {
    margin-top: 0.5%;
    font-size: 90%;
    color: rgb(150, 150, 150);
}

.postPageBody {
    margin-top: 1%;
    background-color: rgb(58, 58, 58);
    border: .1rem solid rgb(122, 122, 122);
    border-radius: .25rem;
    padding: 1%;
}

.postDelete {
    margin-top: 1%;
    color: rgb(158, 46, 46);
    width: fit-content;
}
.postDelete:hover {
    cursor: pointer;
    text-decoration: underline;
}

.deleteButton {
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: rgb(224, 0, 0);
    border: none;
    border-radius: .25rem;
    margin-right: 1%;
}
.deleteButton:hover {
    background-color: rgb(180, 0, 0);
}

.cancelDeleteButton {
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: rgb(150, 150, 150);
    border: none;
    border-radius: .25rem;
}
.cancelDeleteButton:hover {
    background-color: rgb(126, 126, 126);
}

.commentTitle {
    font-size: x-large;
}

.postCommentWrapper {
    border-top: 1px solid rgb(194, 194, 194);
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}