.postWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

.postListWrapper {
    text-align: left;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding-bottom: 2%;
}

.prevnext {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    color: #1e96ff;
}

.prev:hover {
    text-decoration: underline;
    cursor: pointer;
}

.next:hover {
    text-decoration: underline;
    cursor: pointer;
}

.alertWarning {
    text-align: left;
}

.alertSuccess {
    text-align: left;
}

.postButton {
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: #1e96ff;
    border: none;
    border-radius: .25rem;
}

.postButton:hover {
    background-color: #0073d8;
}

.noPosts {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-style: italic;
    width: 100%;
    margin-bottom: 1%;
    border-radius: .25rem;
    background-color: white;
    background-color: rgb(39, 39, 39);
    border: .1rem solid rgb(122, 122, 122);
}

.errWrap {
    display: flex;
}

.plZucc {
    width: 10%;
    margin-left: 1%;
}

.plError {
    margin-top: 1%;
    font-size: 200%;
    color: rgb(206, 0, 0);
    margin-left: 1%;
}