.previewWrapper {
    width: 100%;
    margin-bottom: 1%;
    border-radius: .25rem;
    background-color: white;
    background-color: rgb(39, 39, 39);
    border: .1rem solid rgb(122, 122, 122);
}
.previewWrapper:hover {
    /* background: linear-gradient(to left, #a357ff 0.8%, rgb(53, 53, 53) 0.8%); */
    background-color: rgb(53, 53, 53);
    cursor: pointer;
}

.previewContent {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    overflow-x: hidden;
    padding-top: 0.5%;
    padding-bottom: 1%;
}

.previewTitle {
    font-size: 150%;
}

.previewAuthor {
    font-size: 90%;
    color: rgb(150, 150, 150);
    margin-top: 0%;
}

.previewBody {
    margin-top: 0.5%;
}