.postPageWrapper {
    width: 90%;
    background-color: rgb(39, 39, 39);
    border: .2rem solid rgb(122, 122, 122);
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    border-radius: .25rem;
    padding-bottom: 1%;
    overflow-x: hidden;
}

.errWrap {
    display: flex;
}

.postZucc {
    margin-top: 1%;
    margin-left: 1%;
    width: 5%;
}

.postError {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 200%;
    color: rgb(206, 0, 0);
    margin-left: 1%;
}

.postContent {
    margin-top: 1%;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.postPageTitle {
    font-size: 200%;
}

.postPageTS {
    margin-top: 0.5%;
    font-size: 90%;
    color: rgb(150, 150, 150);
}

.postPageAuthor {
    margin-top: 0.5%;
    font-size: 90%;
    color: rgb(150, 150, 150);
    width: fit-content;
}

.postPageAuthor:hover {
    cursor: pointer;
    text-decoration: underline;
}

.postPageBody {
    margin-top: 1%;
    background-color: rgb(58, 58, 58);
    border: .1rem solid rgb(122, 122, 122);
    border-radius: .25rem;
    padding: 1%;
    white-space: pre-line
}

.postDelete {
    margin-top: 1%;
    color: rgb(158, 46, 46);
    width: fit-content;
}

.postDelete:hover {
    cursor: pointer;
    text-decoration: underline;
}

.commentTitle {
    font-size: x-large;
}

.postCommentWrapper {
    border-top: 1px solid rgb(194, 194, 194);
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.postLoading {
    margin-top: 1%;
    margin-left: 2%;
}