.postWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

.postListWrapper {
    text-align: left;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding-bottom: 2%;
}

.prevnext {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    color: rgb(0, 91, 211);
}

.prev:hover {
    text-decoration: underline;
    cursor: pointer;
}

.next:hover {
    text-decoration: underline;
    cursor: pointer;
}

.alertWarning {
    text-align: left;
}

.alertSuccess {
    text-align: left;
}

.postButton {
    color: white;
    height: 2.5rem;
    width: 15%;
    background-color: #1e96ff;
    border: none;
    border-radius: .25rem;
}

.postButton:hover {
    background-color: #0073d8;
}