.spWrapper {
    width: 100%;
    overflow-x: hidden;
    display: flex;
}

.pCol1 {
    width: 60%;
}

.pCol2 {
    width: 40%;
}

.spLoading {
    margin-left: 1%;
    margin-top: 1%;
}

.errWrap {
    display: flex;
}

.spZucc {
    margin-left: 1%;
    width: 10%;
}

.spError {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 200%;
    color: rgb(206, 0, 0);
    margin-left: 1%;
}

.spHeader {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 93.1%;
}

.spUsername {
    width: fit-content;
    font-size: 300%;
    border-bottom: 0.2rem solid rgb(122, 122, 122);
}

.spDates {
    padding-left: 1%;
    border-left: 0.2rem solid #9E4CEC;
    margin-top: 1.5%;
    font-size: 100%;
    color: rgb(150, 150, 150);
}

.spBio {
    overflow-x: hidden;
    width: 95%;
    font-size: 110%;
    margin-top: 1%;
}

.spPosts {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.spComments {
    width: 98%;
    overflow-x: hidden;
}

.spPostsTitle {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    width: 98%;
    border-bottom: 0.1rem solid rgb(122, 122, 122);
}

.spCommentsTitle {
    margin-top: 1%;
    font-size: 150%;
    width: 100%;
    border-bottom: 0.1rem solid rgb(122, 122, 122);
}