.spWrapper {
    width: 100%;
    overflow-x: hidden;
}

.spLoading {
    margin-left: 1%;
    margin-top: 1%;
}

.errWrap {
    display: flex;
}

.spZucc {
    margin-left: 1%;
    width: 10%;
}

.spError {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 200%;
    color: rgb(206, 0, 0);
    margin-left: 1%;
}

.spHeader {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.spDates {
    font-size: 100%;
    color: rgb(150, 150, 150);
}

.spUsername {
    font-size: 300%;
}

.spBio {
    overflow-x: hidden;
    width: 35%;
    font-size: 110%;
    margin-top: 1%;
}

.spPC {
    display: flex;
    width: 95%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.spPosts {
    width: 49.5%;
    background-color: rgb(39, 39, 39);
    border: .2rem solid rgb(122, 122, 122);
    border-radius: .25rem;
    overflow-x: hidden;
    padding-bottom: 1%;
}

.spComments {
    width: 49.5%;
    background-color: rgb(39, 39, 39);
    border: .2rem solid rgb(122, 122, 122);
    border-radius: .25rem;
    overflow-x: hidden;
    margin-left: 1%;
    padding-bottom: 1%;
}

.spTitle {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    width: 96%;
    border-bottom: 0.1rem solid rgb(122, 122, 122);
}