.standingsWrapper {
    width: 98%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: .25rem;
    /* background: linear-gradient(to bottom, rgb(43, 160, 255) 1%, rgb(39, 39, 39) 1%); */
    background-color: rgb(39, 39, 39);
    border: .1rem solid rgb(122, 122, 122);
}

.lsHeader {
    padding-top: 3%;
    margin-left: 2%;
    width: 100%;
    font-size: 150%;
    font-weight: 400;
}

.sideTable {
    margin-top: 2%;
    width: 100%;
}

.thead {
    font-size: 120%;
}

.thTeam {
    padding-left: 2%;
    border-bottom: black;
    padding-top: 5px;
}

.thW {
    text-align: center;
    padding-top: 5px;
}

.thL {
    text-align: center;
    padding-right: 2%;
    padding-top: 5px;
}

.tbody {
    width: 100%;
}

.trTeam {
    cursor: default;
}
.trTeam:hover {
    background: linear-gradient(to right, #a357ff 0.8%, rgb(53, 53, 53) 0.8%); 
}

.tdTeam {
    padding-left: 2%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.tdW {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.tdL{
    text-align: center;
    padding-right: 2%;
    padding-top: 7px;
    padding-bottom: 7px;
}