.teamListWrapper {
    padding-bottom: 10px;
    background-color: rgb(240, 240, 240);
}

.selectorWrapper {
    text-align: left;
    display: flex;
    width: 98%;
    margin-top: 1%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: .5rem;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.loadingText {
    text-align: center;
    margin-top: 5%;
    font-size: x-large;
}

.seasonSelect {
    width: 15%;
    margin-left: 1%;
}

.weekSelect {
    width: 15%;
    margin-left: 2%;
}

.note {
    width: 70%;
    text-align: right;
    margin-right: 1%;
    color: rgb(124, 124, 124);
}

.errorMessage {
    margin-top: 5%;
    text-align: center;
    font-size: x-large;
    color: red;
}

.teamWrapper {
    text-align: left;
    display: flex;
    width: 98%;
    height: 25vh;
    margin-top: 1%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: .5rem;
}

.teamWrapper:hover {
    background: linear-gradient(to left, rgb(81, 177, 255) 0.8%, white 0.8%);
    cursor: pointer;
}

.teamRow {
    text-align: left;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    margin-left: 1%;
}

.imageBox {
    width: 10%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.descriptionBox {
    width: 90%;
    margin-left: 0.5%;
    margin-top: 0.5%;
}

.teamName {
    font-size: larger;
}

.logo {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.w-l {
    color: rgb(124, 124, 124);
    font-size: medium;
}

.points {
    color: rgb(124, 124, 124);
    font-size: small;
    font-weight: 500;
}