.teamPageWrapper {
    text-align: left;
    width: 100vw;
    padding-bottom: 10%;
}

.backButton {
    margin-top: 5vh;
    margin-left: 10%;
    color: white;
    height: 2.5rem;
    width: 12%;
    background-color: rgb(43, 160, 255);
    border: none;
    border-radius: .25rem;
}
.backButton:hover{
    background-color: rgb(4, 121, 218);
}

.seasonAndWeek {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.teamPage {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: .25rem;
}

.teamPageHeader {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-top: 1%;
    margin-left: 1%;
}

.image {
    width: 20%;
    height: 100%;
}

.teamInfo {
    margin-left: 2%;
    width: 80%;
}

.name {
    font-size: xx-large;
}

.teamContent {
    margin-top: 2%;
    margin-left: 1%;
}

.rosterTitle {
    font-size: x-large;
}

.roster {
    display: flex;
    width: 100%;
    border-top: 2px solid rgb(43, 160, 255);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
}

.position {
    font-weight: bolder;
}

.teamAbb {
    font-size: small;
    font-weight: 500;
    color: grey;
}

.player {

    margin-top: 1%;
}

.qb {
    width: 13vw;
    margin-top: 1%;
}
.rb {
    width: 13vw;
    margin-top: 1%;
}
.wr {
    width: 13vw;
    margin-top: 1%;
}
.te {
    width: 13vw;
    margin-top: 1%;
}
.dst {
    width: 13vw;
    margin-top: 1%;
}
.k {
    width: 13vw;
    margin-top: 1%;
}