.teamListWrapper {
    padding-bottom: 10px;
    background-color: rgb(240, 240, 240);
}

.teamWrapper {
    text-align: left;
    display: flex;
    width: 98%;
    height: 25vh;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: .5rem;

}

.teamWrapper:hover {
    background: linear-gradient(to left, rgb(81, 177, 255) 0.8%, white 0.8%);
}

.teamRow {
    text-align: left;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    margin-left: 30px;
}

.imageBox {
    width: 10%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.descriptionBox {
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
}

.teamName {
    font-size: larger;
}

.logo {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.w-l {
    color: rgb(124, 124, 124);
    font-size: medium;
}

.points {
    color: rgb(124, 124, 124);
    font-size: small;
    font-weight: 500;
}